form label {  /* radio label 도 영향을 받아서 (물론 삭제하지만) 수정필요*/
    width: 20%;
    text-align: right;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 16px;
    color: #595656;
}

article {
    padding: 1rem;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding: 1rem 0;
    margin-top: 0;
}

.input {
    color: #8D8888;
    font-weight: bold;
    font-size: 12px;
    padding: 0.3rem;
    width: 9rem;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

fieldset {
    border: none;
}

.eventButton {
    cursor: pointer;
    background-color: #FA4B4B;
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.button {
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #FF8616;
    border-radius: 2px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0.5rem;
}

