#historyComponent {
    height: 32rem;
    overflow: auto;
    transition: height 1s ease;
}

#historyComponent.short{ /*when form comes up*/
    height: 14rem;
    overflow: auto;
}

/* history scroll design */
#historyComponent::-webkit-scrollbar {
    background-color: white;
    width: 5px;
}

#historyComponent::-webkit-scrollbar-thumb  { /*막대*/
    background-color: white;
    border-radius: 10px;
    background-clip: padding-box; /*thumb와 track 사이에 공간주고 싶어서 사용. 기존의 padding, margin은 적용되지 않음.*/
}

#historyComponent::-webkit-scrollbar-track  { /*여백*/
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* transaction Container*/
.transactionContainer {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    height: 1rem;
}



/* transactionContents */

.transactionContents {
    width: 100%; /* -> 75% */
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
}

.category {
    font-size: 10px;
    margin-left: 0.2rem;
    color: #8D8888;
}

.transactionContainer:hover .buttonContainer{
    display:flex;
    width: 4rem;
    opacity: 1;
    transition: width 0.5s;
    transition-timing-function: ease-in-out;
}

/* 삭제 버튼 */
.buttonContainer { 
    opacity: 0;
    width: 0px;
    margin-right: 0.5rem;
}


/* FORM BUTTON */
.addNewButton {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}