#newTransactionContainer {
    transition: transform 1s ease;
    display: none;
   
}

#newTransactionContainer.show {
    transform: translateY(-50%);
    display: block;
    position: relative;
    top: 11rem;
    width: 100%;
    left: -1rem;
    background-color: white;
    border-radius: 5px;
    margin: 0 0.5rem;
}

#transactionSubmitBtn {
    position: relative;
    left: 30%;
    margin-top: 1rem;
}

.formFieldset {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

