#settingSection {
    height: 41rem;
    margin-top: 0;
}


/* category form */
.categoryForm p{
    margin: 0;
    position: relative;
    top: -2.5rem;
    text-align: center;
}


/* category list table */
.listTable {
    height: 59%;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    border-bottom: 1px solid #bbb;
}

thead th {
    padding-bottom: 1rem;
}

tbody td{
    padding: 0.4rem;
    font-weight: bold;
    width: 5%;
}


.listTable::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}

.listTable::-webkit-scrollbar-thumb  { /*막대*/
    background-color: white;
    border-radius: 10px;
    background-clip: padding-box; /*thumb와 track 사이에 공간주고 싶어서 사용. 기존의 padding, margin은 적용되지 않음.*/
}

.listTable::-webkit-scrollbar-track  { /*여백*/
    background-color:white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

#selectColorContainer {
    display: flex;
    margin: 3rem 0;
    align-items: center;
}

#selectColorContainer h4{
    font-size: 19px;
    margin: 0;
}

.selectColorForm {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}