


/* settings */



#settingSection input[type="submit"] {
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #FF8616;
    border-radius: 2px;
    border: none;
    
}

.categoryForm p{
    margin: 0;
    position: relative;
    top: -2.5rem;
    text-align: center;
}

.listTable {
    height: 65%;
    overflow: auto;
    width: 100%;
    padding-right: 1.4rem;
}

.listTable::-webkit-scrollbar {
    width: 5px;
    background-color: #f7f7f7;
}

.listTable::-webkit-scrollbar-thumb  { /*막대*/
    background-color: #f69c47;
    border-radius: 10px;
    background-clip: padding-box; /*thumb와 track 사이에 공간주고 싶어서 사용. 기존의 padding, margin은 적용되지 않음.*/
}

.listTable::-webkit-scrollbar-track  { /*여백*/
    background-color:white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    border-bottom: 1px solid #bbb;
}

thead th {
    padding-bottom: 1rem;
}

tbody td{
    padding: 0.4rem;
    font-weight: bold;
}

.modal {
    position: absolute;
    padding: 16rem 0;
    top: 8.3rem;
    left: 0.2rem;
    width: 98%;
    background: #828282b3;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 25%);
    z-index: 10;
    animation: modal-show .3s;
    border-radius: 14px;
    text-align: center;
}

.modalContents{
    background-color: snow;
    margin: 0;
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes modal-close {
    from {
        opacity: 1;
        margin-top: 0;
    }
    to {
        opacity: 0;
        margin-top: -50px;
    }
}

@keyframes modal-bg-close {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0;
    }
}


.modal form {
    width: 100%;
    margin: 1rem 0;
}

.modal div {
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbb;
    padding: 1rem;
}

.flexColumn {
    flex-direction: column;
}

.modal div button {
    border: none;
    background-color: snow;
}

.modal p {
    font-weight: normal;
}

.modal span {
    font-weight: bold;
}

.modal input {
    text-align: center;
}

.submitButtonIcon {
    color: #f19b4b;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    background-color: snow;
}

/* #coverBackground {
    position: absolute;
    background-color: gray;
    height: 43.1rem;
    width: 27rem;
    opacity: 0.5;
    top: 9rem;
    left: 12.4rem;
    animation: modal-bg-show .3s;
    z-index: 10;
} */