.moneyPlus {
    border-right: 5px solid #2ecc71;
}

.moneyMinus {
    border-right: 5px solid tomato;
}

#newTransactionContainer {
    position: absolute;
    bottom: -50%;
    transition: transform 1s ease;
}

#newTransactionContainer.show {
    transform: translateY(-100%);
}

body {
    font-family: Montserrat,sans-serif;
}
/* nav!!! home-settings */
nav {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

nav span {
    margin: 0 1rem;
}

/* balance Componenet balance-income-expense */
.balanceComponent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 4rem;
    padding-bottom: 1rem;
}

.balanceComponent div {
    display: flex;
}

.balanceComponent section {
    text-align: right;
    margin: 0 1rem;
}

.balance #money {
    font-size: 30px;
    margin: 0;
}

.name{
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.each .money {
    margin: 0;
    font-size: 18px
}

/* 1rem : 25px */

/* history */
.historyComponent {
    height: 24rem;
    padding: 2rem;
}

.historyComponent h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 1rem;
}

.historyComponent .transactionContainer {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.historyComponent .textContainer {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.historyComponent .date {
    font-size: 13px;
    font-weight: bold;
}

.text{
    font-size: 16px;
}

.category {
    font-size: 10px;
    margin-left: 0.2rem;
    color: #8D8888;
}

.amount {
    font-size: 16px;
}

